@font-face {
  font-family: 'Press Start 2P';
  src: url("PressStart2P-Regular.ttf");
}

html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', Consolas, monospace;
  overflow: hidden; // Полосы прокрутки теперь не беспокоят
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#panel{
  display:inline-block;
  margin-right: 10px;
} button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    height: 40px;
    background-color: silver;
    font-family: "Press Start 2P", Consolas, monospace;
    border-radius: 10px;
    border: 4px solid red;
    padding: 10px;
  }

#nickname {
  font-family: "Press Start 2P", Consolas, monospace;
  font-size: 22px;
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: black;
  border: 0;
  width: 250px;
  display: grid;
}


#panel h3{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
}

#panel h4{
  text-align: center;
  margin-top: 5px;
}

.hp {
  color: red;
}

.gold {
  color: gold;
}

#view {
  width: 800px;
  height: 600px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background-color: rgba(0,0,0,0.3);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.modal-box{
  position: relative;
  width: 500px;
  z-index: 1;
  padding: 10px;
  background-color: gold;
  text-align: center;
  display: grid;
  justify-content: center;
  transform: scale(0);
  transition: transform .5s;
  border-radius: 10px;
  color: black;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal-box{
  transform: scale(1);
}

#table-records {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  vertical-align: middle;
  border-radius: 10px;
  border: 4px solid black;
  color: black;
}


#table-records td {
  margin: auto;
  padding-right: 50px;
  padding-top: 10px;
}


#hint {
  display: block;
  margin: auto;
  border: 4px solid black;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}